<footer class="container-fluid text-center bg-light border-top pb-1 mt-3">
    <ul class="list-inline pt-4">
        {%- for link in site.social-network-links -%}
        {%- assign currentKey = link[0] -%}
        {%- assign value = link[1] -%}
        {%- assign element = site.data.SocialNetworks[currentKey] -%}
        {%- case currentKey -%}
        {%- when 'rss' -%}
        {%- assign href = '/feed.xml' | prepend: site.url -%}
        {%- when 'yelp' -%}
        {%- assign href = element.baseURL | replace: "{site.id}", value -%}
        {%- else -%}
        {%- assign href = element.baseURL | append: value -%}
        {%- endcase -%}
        <li class="list-inline-item">
            <a href="{{ href }}" title="{{ element.name }}">
                <span class="fa-stack fa-lg" aria-hidden="true">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="{{ element.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">{{ element.name }}</span>
            </a>
        </li>
        {%- endfor -%}
    </ul>
    <p class="text-muted">
        {{ site.author.name }}
        &nbsp;&bull;&nbsp;
        {{ site.time | date: '%Y' }}
        {%- if site.url-pretty -%}
        &nbsp;&bull;&nbsp;
        <a href="{{ site.url }}">{{ site.url-pretty }}</a>
        {%- endif -%}

        {%- if site.matomo -%}
        {%- if site.matomo.opt-out -%}
        &nbsp;&bull;&nbsp;
        <a href="http://{{- site.matomo.uri -}}/index.php?module=CoreAdminHome&action=optOut" target="_blank" class="text_muted">Do-not-Track</a>
        {%- endif -%}
        {%- endif -%}
    </p>
    <!-- Please don't remove this, keep my open source work credited -->
    <p class="theme-by text-muted">
        Theme by
        <a href="https://github.com/scottdorman/danvers">danvers</a>
    </p>

</footer>
