<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%- if page.keywords -%}
    <meta name="keywords" content="{{ page.keywords }}">
    {%- endif -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/" | relative_url | prepend: site.url }}/favicon.ico">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:300i,400i,600i,700i,800i,400,300,600,700,800'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/" | relative_url | prepend: site.url }}/assets/css/bootstrap-social.css" />
    <link rel="stylesheet" href="{{ "/" | relative_url | prepend: site.url }}/assets/css/pygment_highlights.css" />
    <link rel="stylesheet" href="{{ "/" | relative_url | prepend: site.url }}/assets/css/site.css" />
    {% seo %}
    {% include analytics.html %}
</head>
